<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's Vendors!</title>
  </head>
  <body>
    <h1>Pierre, welcome to your vendors tracker!</h1>
    <h3><a href='/vendors'>View vendors</a></h3>
    <h3><a href='/vendors/new'>Add a new vendor</a></h3>
    @{
      Layout = "_Layout";
    }
  </body>
</html>