<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's Vendors!</title>
  </head>
  <body>
    @using Bakery.Models;

    <h3>Vendor: @Model["vendor"].Name</h3>
    <p>@Model["vendor"].Description</p>

    <h3>Here are all the orders placed by this vendor:</h3>

    <ol>
    @foreach (Order order in @Model["orders"])
    {
      <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></li>
    }
    </ol>

    <p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>
     <form action='/vendors/@Model["vendor"].Id/orders/delete' method="post">
      <button type="submit" name="button">Clear All Orders</button>
    </form>
     <form action='/vendors/@Model["vendor"].Id/edit' method="post">
      <button type="submit" name="button">Edit this Vendor</button>
    </form>
    <form action='/vendors/@Model["vendor"].Id/delete' method="post">
      <button type="submit" name="button">Delete this Vendor</button>
    </form>
    <p><a href='/vendors'>Return to vendor list</a></p>
    <p><a href='/'>Return to Main Page</a></p>
    @{
      Layout = "_Layout";
    }
  </body>
</html>