<h1>This order has been removed</h1>
<div class="navigation">
  <a href='/vendors/@Model.Id'>@Model.Name</a>
  <a href="/vendors">All Vendors</a>
  <a href="/">Home</a>
</div>
@{
  Layout = "_Layout";
}