<div id="footer">
  &copy;
  <span id="copyright">
  <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
  </span>Pierre's Bakery
</div>